.cache
.vscode/
hyperion
*_internal
**/build
**/.cjpm-history
**/*macrocall
**/module-lock.json
**/cjpm.lock
**/unittest
*.gcda
*.gcno
*.gch
*.o
*.so
*.dylib
*.macrocall
src/main
*.cjo
*.bchir2
target/*
output/*
.DS_Store